* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
    height: 100%;
    overflow: auto;
}

body {
    height: 100%;
    overflow: auto;
    margin: 0;
}

.wrapper {
    margin: 0 auto;
    max-width: 1280px;
}