$white: #FFF;
$whiteOpacity: rgba(255, 255, 255, 0.80);
$primary-btn-bg: #BC4749;
$primary-btn-border: #D66567;
$primary-btn-bg-hover: #ba3e40;
$primary-btn-border-hover: #b76566;
$secondary-btn-bg: transparent;
$secondary-btn-border: #D0D0D0;
$secondary-btn-bg-hover: #52793b;
$secondary-btn-border-hover: #b7b7b7;

$burger-menu-bg: #6A994E;

$item-green-bg: #6A994E;
$item-border-line: rgba(255, 255, 255, 0.10);

$item-black-bg: #1D252B;