<div class="header">
    <div class="header__info">
        <div class="header__logo">
            <img class="header__logo-img" alt="Logo" src="/img/logo.svg"/>
            <div class="header__logo-text">
                Test Task
            </div>
        </div> 
        <div class="header__navigation">
            <div class="header__navigation-item"><a class="header__link"  href="#">About Us</a></div>
            <div class="header__navigation-item"><a class="header__link" href="#">Features</a></div>
            <div class="header__navigation-item"><a class="header__link header__link_active" href="#">Pricing</a></div>
            <div class="header__navigation-item"><a class="header__link" href="#">Product</a></div>
            <div class="header__navigation-item"><a class="header__link" href="#">Contact</a></div>
        </div>
    </div> 
    <div class="header__auth">
        <div class="header__navigation-item header__navigation-item_login"><a href="#" class="header__link">Login</a></div>
        <div class="primary-btn primary-btn_small"><a href="#">Sign Up</a></div>
    </div> 
    <div class="header__burger">
        <button id="header__burger-btn" class="header__burger-btn">
            <img class="header__burger-img" src="/img/burger-menu.svg" alt="menu"/>
        </button>
        <div>
            <div id="header__burger-menu" class="header__burger-menu">
                <div class="header__burger-navigation">
                    <div class="header__navigation-item"><a class="header__link" href="#">About Us</a></div>
                    <div class="header__navigation-item"><a class="header__link" href="#">Features</a></div>
                    <div class="header__navigation-item"><a class="header__link header__link_active" href="#">Pricing</a></div>
                    <div class="header__navigation-item"><a class="header__link" href="#">Product</a></div>
                    <div class="header__navigation-item"><a class="header__link" href="#">Contact</a></div>
                    <div class="primary-btn-wrapper">
                        <div class="header__navigation-item header__navigation-item_login"><a href="#" class="header__link">Login</a></div>
                        <div class="primary-btn primary-btn_small"><a href="#">Sign Up</a></div>
                    </div>
                </div>
            </div>
            <div id="header__burger-menu-bg" class="header__burger-menu-bg"></div>
        </div>
    </div>
</div>